.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
ul {
    color: green;
    background-color: transparent;
    text-decoration: none;
    font-size:30px;
  }

.sidebar .gadget {
    margin: 0;
    padding: 20px 16px 20px 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}